{# #author:无名 #}
{# #datetime:2019/4/17 0017 20:56#}
{# #software: PyCharm#}
{% extends "base.html" %}

{% block tan %}
    <form class="layui-form" action="" id="form1" style="display: none">
        {% csrf_token %}
        <div class="layui-form-item">
            <label class="layui-form-label">公司</label>
            <div class="layui-input-block">
                <select name="company_id" lay-verify="required">
                    <option value="{{ jobDemand.company.id }}">{{ jobDemand.company.code }}</option>
                    {% for company in company_list %}
                        {% if company != jobDemand.company %}
                            <option value={{ company.id }}>{{ company.code }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">岗位</label>
            <div class="layui-input-block">
                <select name="job_id" lay-verify="required">
                    <option value="{{ jobDemand.job.id }}">{{ jobDemand.job.name }}</option>
                    {% for job in job_list %}
                        {% if job != jobDemand.job %}
                            <option value={{ job.id }}>{{ job.name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">待招聘人数</label>
            <div class="layui-input-block">
                <input type="text" name="nums" value="{{ jobDemand.nums }}" required lay-verify="required"
                       placeholder="请输入待招聘人数" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">岗位职责</label>
            <div class="layui-input-block">
                <textarea name="work" value="{{ jobDemand.work }}" placeholder="请输入岗位职责"
                          class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">任职资格</label>
            <div class="layui-input-block">
                <textarea name="need" value="{{ jobDemand.need }}" placeholder="请输入任职资格"
                          class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">性别</label>
            <div class="layui-input-block">
                <input type="radio" name="sex" value="{{ jobDemand.get_sex_display }}" title="男女不限" checked>
                {% for sex in jobDemand.sexList %}
                    {% if sex !=  jobDemand.get_sex_display %}
                        <input type="radio" name="sex" value="{{ sex }}" title="{{ sex }}">
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">学历</label>
            <div class="layui-input-block">
                <input type="text" name="edu" value="{{ jobDemand.edu }}" required lay-verify="required"
                       placeholder="请输入学历"
                       autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">工作年限</label>
            <div class="layui-input-block">
                <input type="text" name="work_years" value="{{ jobDemand.work_years }}" required lay-verify="required"
                       placeholder="请输入工作年限"
                       autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">必备条件</label>
            <div class="layui-input-block">
                <textarea name="essential_condition" value="{{ jobDemand.essential_condition }}" placeholder="请输入必备条件"
                          class="layui-textarea"></textarea>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">招聘渠道</label>
            <div class="layui-input-block">
                <input type="text" name="recruitment_way" value="{{ jobDemand.recruitment_way }}" required
                       lay-verify="required" placeholder="请输入招聘渠道"
                       autocomplete="off"
                       class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">试用期薪资</label>
            <div class="layui-input-block">
                <input type="text" name="probation_salary" value="{{ jobDemand.probation_salary }}" required
                       lay-verify="required" placeholder="请输入试用期薪资"
                       autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">薪资</label>
            <div class="layui-input-block">
                <input type="text" name="salary" required value="{{ jobDemand.salary }}" lay-verify="required"
                       placeholder="请输入薪资" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">薪资发放形式</label>
            <div class="layui-input-block">
                <textarea name="salary_method" value="{{ jobDemand.salary_method }}" placeholder="请输入薪资发放形式"
                          class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">提成绩效</label>
            <div class="layui-input-block">
                <textarea name="performance" value="{{ jobDemand.performance }}" placeholder="请输入提成绩效"
                          class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">工作时间</label>
            <div class="layui-input-block">
                <input type="text" name="work_time" value="{{ jobDemand.work_time }}" required lay-verify="required"
                       placeholder="请输入工作时间"
                       autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">每月休假</label>
            <div class="layui-input-block">
                <input type="text" name="holiday" value="{{ jobDemand.holiday }}" required lay-verify="required"
                       placeholder="请输入每月休假"
                       autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">岗位补贴</label>
            <div class="layui-input-block">
                <textarea name="job_subsidy" value="{{ jobDemand.job_subsidy }}" placeholder="请输入岗位补贴"
                          class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">生活补贴</label>
            <div class="layui-input-block">
                <textarea name="life_subsidy" value="{{ jobDemand.life_subsidy }}" placeholder="请输入生活补贴"
                          class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">住宿条件</label>
            <div class="layui-input-block">
                <input type="text" name="dorm" value="{{ jobDemand.dorm }}" required lay-verify="required"
                       placeholder="请输入住宿条件" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">其他福利</label>
            <div class="layui-input-block">
                <textarea name="welfare" value="{{ jobDemand.welfare }}" placeholder="请输入其他福利"
                          class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">备注</label>
            <div class="layui-input-block">
                <textarea name="note" value="{{ jobDemand.note }}" placeholder="请输入备注"
                          class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                {#                <button type="reset" class="layui-btn layui-btn-primary">重置</button>#}
                <button class="layui-btn" lay-submit lay-filter="formDemo"
                        onclick="putJobDemand({{ jobDemand.id }},{{ job_type }});return false">立即提交
                </button>
            </div>
        </div>
    </form>
{% endblock %}
{% block toolbar %}

    <button class="layui-btn" onclick="onAddBtn()">编辑</button>
    {% if  job_type == 1 %}
    <a class="layui-btn" href="{% url 'manager:jobDemand' %}">返回上一层</a>
    {% elif job_type == 2 %}
    <a class="layui-btn" href="{% url 'manager:foreignJobDemand' %}">返回上一层</a>
    {% endif %}
    <table class="layui-table">
{#        <colgroup>#}
{#            <col width="150">#}
{#            <col width="200">#}
{#            <col>#}
{#        </colgroup>#}
        <thead>
        <tr>
            <th>公司代码</th>
            <th>岗位</th>
            <th>待招聘人数</th>
            <th>性别</th>
            <th>岗位职责</th>
            <th>任职资格</th>
            <th>学历</th>
            <th>工作年限</th>
            <th>必备条件</th>
            <th>招聘渠道</th>
            <th>试用期薪资</th>
            <th>薪资</th>
            <th>薪资发放形式</th>
            <th>提成绩效</th>
            <th>工作时间</th>
            <th>每月休假</th>
            <th>岗位补贴</th>
            <th>生活补贴</th>
            <th>住宿条件</th>
            <th>其他福利</th>
            <th>备注</th>
            <th>更新时间</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ jobDemand.company.code }}</td>
                <td>{{ jobDemand.job.name }}</td>
                <td>{{ jobDemand.nums}}</td>
                <td>{{ jobDemand.get_sex_display}}</td>
                <td>{{ jobDemand.work}}</td>
                <td>{{ jobDemand.need}}</td>
                <td>{{ jobDemand.edu}}</td>
                <td>{{ jobDemand.work_years}}</td>
                <td>{{ jobDemand.essential_condition}}</td>
                <td>{{ jobDemand.recruitment_way}}</td>
                <td>{{ jobDemand.probation_salary}}</td>
                <td>{{ jobDemand.salary}}</td>
                <td>{{ jobDemand.salary_method}}</td>
                <td>{{ jobDemand.performance}}</td>
                <td>{{ jobDemand.work_time}}</td>
                <td>{{ jobDemand.holiday}}</td>
                <td>{{ jobDemand.job_subsidy}}</td>
                <td>{{ jobDemand.life_subsidy}}</td>
                <td>{{ jobDemand.dorm}}</td>
                <td>{{ jobDemand.welfare}}</td>
                <td>{{ jobDemand.note}}</td>
                <td>{{ jobDemand.update_time}}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
{% block script %}
    <script>
        var url = "{% url 'manager:jobDemand' %}";

        function onAddBtn() {
            //页面层-自定义
            layer.open({
                type: 1,
                title: "编辑需求",
                skin: 'layui-layer-rim',
                area: ['800px', '800px'],
                content: $("#form1"),
            });
        }

        function putJobDemand(id, type) {
            var url = "{% url 'manager:jobDemand' %}";
            if (job_type === 2) {
                console.log(job_type);
                url = "{% url 'manager:foreignJobDemand' %}"
            }
            rmsajax.put({
                url: url + id + "/",
                data: $("#form1").serialize(),
                success: function (result) {
                    if (result['code'] === 200) {
                        var index = parent.layer.getFrameIndex(window.name);
                        parent.layer.close(index);
                    }
                }
            })

        }
    </script>

{% endblock %}